---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: concourse/bosh-cli
    tag: latest

inputs:
  - name: mongodb-compilation-bosh-release  
  - name: bosh-director-config

outputs:
  - name: removed   

run:
  path: mongodb-compilation-bosh-release/ci/deployment/remove-deployment/scripts/remove-deployment.sh