---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: jraverdyorange/aws-cli
    tag: latest

inputs:
  - name: mongodb-bosh-release
  - name: mongodb-compilation-bosh-release
  - name: mongodb-compilation-bosh-release-patched
  - name: versions

outputs:
  - name: to-upload

run:
  path: mongodb-compilation-bosh-release/ci/deployment/deploy/scripts/upload-compiled-blobs.sh

